/* Global */
*{
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar{
    background-color: #ffffffFF;
    padding: 16px 0;
    border-bottom: 1px solid #f0f0f0;
}

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img{
    height: 50px;
}

.nav-links{
    life-style: none;
    display: flex;
    gap: 40px;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover{
    color: #3d8b4e;
}

.btn-primary{
    background-color: #3d8b4e;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-primary:hover{
    background-color: #469165FF;;
}

/* Banner */
.banner{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 24px;
    text-align: center;
}

.banner-content{
    max-width: 700px;
    margin: 0 auto;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    color: #1a1a1a;
     border: 1.5px solid #3d8b4e
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 999px;
    margin-bottom: 24px;
}

.badge-dot{
    width: 10px;
    height: 10px;
    background-color: #3d8b4e;
    border-radius: 50%;
}

.banner h1{
    font-size: 52px;
    font-weight: 800px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight{
    color: #4caf72;
}

.banner-subtitle{
    font-size: 16px;
    color: #d0d8e0;
    line-height: 1.7;
    margin-bottom: 36px;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner-buttons .btn-primary img{
    height: 16px;
}

.btn-secondary{
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary:hover{
    background-color: #ffffff1a;
}