/* Global */
*{
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar{
    background-color: #ffffffFF;
    padding: 16px 0;
    border-bottom: 1px solid #f0f0f0;
}

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img{
    height: 50px;
}

.nav-links{
    life-style: none;
    display: flex;
    gap: 40px;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover{
    color: #3d8b4e;
}

.btn-primary{
    background-color: #3d8b4e;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-primary:hover{
    background-color: #469165FF;;
}

/* Banner */
.banner{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 24px;
    text-align: center;
}

.banner-content{
    max-width: 700px;
    margin: 0 auto;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    color: #1a1a1a;
    border: 1.5px solid #3d8b4e
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 999px;
    margin-bottom: 24px;
}

.badge-dot{
    width: 10px;
    height: 10px;
    background-color: #3d8b4e;
    border-radius: 50%;
}

.banner h1{
    font-size: 52px;
    font-weight: 800px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight{
    color: #4caf72;
}

.banner-subtitle{
    font-size: 16px;
    color: #d0d8e0;
    line-height: 1.7;
    margin-bottom: 36px;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner-buttons .btn-primary img{
    height: 16px;
}

.btn-secondary{
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary:hover{
    background-color: #ffffff1a;
}

/* Notes */
.notes-section{
    padding: 80px 24px;
    background-color: #fffafa;
    text-align: center;
}

.section-container{
    max-width: 1200px;
    margin: 0 auto;
}

.section-title{
    font-size: 48px;
    font-weight: 700;
    color: #001931FF;
    margin-bottom: 16px;
}

.section-subtitle{
    font-size: 15px;
    color:#627382FF ;
    margin-bottom: 44px;
}

.cards-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 32px 24px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px #0000000F;
}

.card-icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.card-icon img{
    height: 28px;
    width: 28px;
}

.card h3{
    font-size: 20px;
    font-weight: 600;
    color: #001931FF;;
    margin-bottom: 16px;
}

.card p{
    font-size: 14px;
    color: #627382FF;;
    line-height: 1.25;
}



/* Second Brain Section */

.second-brain{
    padding: 120px 120px;
    background-color: #ffffff;
}

.brain-container{
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-image img{
    width: 100%;
    max-width: 500px;
}

.brain-content{
    flex: 1;
}

.section-tag{
    font-size: 16px;
    font-weight: 500;
    color: #469165FF;
    margin-bottom: 16px;
}

.brain-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931FF;;
    line-height: 1.2;
    margin-bottom: 16px;
}

.brain-description{
    font-size: 16px;
    color: #627382FF;;
    line-height: 1.25;
    margin-bottom: 40px;

}

.brain-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.brain-list li{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    color: #001931FF;;
    font-weight: 500;
    line-height: 1.25; 
}

.brain-list li img{
    width: 22px;
    height: 22px;
}